<div class="container centered-box signup-form">
  <div><h2 class="form-heading">Sign Up</h2></div>
  <div class="col-sm-12">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <%= f.error_notification %>
      <%= flash[:alert] %>

      <div class="form-inputs col-sm-12 auto-margin">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        <%= f.input :password_confirmation, required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'col-sm-12 large-submit btn btn-lg' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>