<div class="container centered-box login-form">
  <div><h2 class="form-heading">Change Your Password</h2></div>
  <div class="col-sm-12">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class:'form-horizontal' }) do |f| %>
      <%= f.error_notification %>
      <%= flash[:alert] %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs col-sm-12 auto-margin">
        <%= f.input :password, label: "New password", required: true, autofocus: true %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Change my password", class: 'button-row col-sm-12 large-submit btn btn-lg' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>