<div class="container centered-box reset-password-form">
  <div><h2 class="form-heading">Forgot Password?</h2></div>
  <div class="col-sm-12">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>
      <%= flash[:alert] %>

      <div class="form-inputs col-sm-12 auto-margin">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reset Password", class: 'col-sm-12 large-submit btn btn-lg' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>