<% picture_group.pictures.each do |picture| %>
    <div class="col-sm-6 col-xs-6" >
      <div class="col-sm-12 col-xs-12">
        <img class="img-responsive image" src="<%= picture.url %>"/>
      </div>
      <div class="button-row col-sm-12 col-xs-12 centered">
        <% if picture_group.project.present? %>
            <a href="<%= save_result_path(picture.id, picture_group.id, picture_group.project.id) %>" role="button" class="btn btn-lg choose-button">Choose</a>
        <% else %>
            <a href="<%= save_random_result_path(picture.id, picture_group.id) %>" role="button" class="btn btn-lg choose-button">Choose</a>
        <% end  %>
      </div>
    </div>
<% end %>