<div class="container centered-box project-form">
  <% @form_label = @project.new_record? ? :create_project : :update_project %>
  <div>
    <h2 class="form-heading"><%= @form_label.to_s.titleize %></h2>
  </div>
  <div class="col-sm-12">
    <%= simple_form_for(@project, url: {action: @form_label }, html: { class: 'form-horizontal' } ) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs col-sm-12 auto-margin">
          <%= f.input :title %>
          <%= f.input :description, input_html: {rows: 3, style: 'resize:none' } %>
        </div>

        <div class="input-group col-sm-12 auto-margin">
          <label for="urls">URLs</label>
          <textarea name="urls" class="form-control url_file_input" rows="3" style="resize: none" id="urls"> </textarea>
        </div>
        <br>

        <div class="input-group col-sm-12 auto-margin">
          <label for="groups">Groups</label>
          <textarea name="groups" class="form-control url_file_input" rows="3" style="resize: none" id="groups"> </textarea>
        </div>

        <div class="form-actions">
          <%= f.button :submit, label: @project.new_record? ? 'Create' : 'Edit', class: 'button-row col-sm-12 large-submit btn btn-lg'%>
        </div>

    <% end %>
  </div>
</div>
