<div class="container centered-box login-form">
  <div>
    <h2 class="form-heading">Add Images</h2>
  </div>
  <div class="col-sm-12">
  <%= form_tag( save_pictures_path , {class: 'form-horizontal', method: 'post'}) do %>
    <!--<div class="form-group">-->
      <!--<label for="url_file" class="col-sm-3 control-label">URLs</label>-->
      <!--<div class="col-sm-7 file">-->
        <!--<input type="file" name="file_with_urls" id="url_file">-->
      <!--</divmultipart: true>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="pair_file" class="col-sm-3 control-label">Pairs</label>-->
      <!--<div class="col-sm-7 file">-->
        <!--<input type="file" name="file_with_pairs" id="pair_file">-->
      <!--</div>-->
    <!--</div>-->

    <div class="input-group col-sm-12 auto-margin">
      <label for="urls">URLs</label>
      <textarea name="urls" class="form-control url_file_input" rows="3" style="resize: none" id="urls"> </textarea>
    </div>
    <br>

    <div class="input-group col-sm-12 auto-margin">
    <label for="groups">Groups</label>
    <textarea name="groups" class="form-control url_file_input" rows="3" style="resize: none" id="groups"> </textarea>
    </div>

    <button type="submit" class="button-row col-sm-12 large-submit btn btn-lg">Submit</button>
  <% end %>
  </div>
</div>