<div class="row" id="notice"><%= flash[:notice] %></div>
<% if @project.picture_groups.nil? %>
    <div class="row">Sorry, We Don't Have Any Pictures In This Project. Please Select Another.</div>
<% elsif @project.picture_groups.where(marked: false).empty? %>
    <div class="row">This Project is Completed.Please Select Another.</div>
<% else %>
  <div class="row">
    <%= render partial: 'compare_pictures', locals: {picture_group: @picture_group } %>
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @progress %>%"><%= "#{@progress}% Completed" %></div>
      </div>
    </div>
  </div>
<% end %>