<div class="row" id="notice"><%= flash[:notice] %></div>
<% if @projects.nil? || @projects.empty? %>
    <div class="row">Sorry, We don't have any projects going on. <%= link_to 'Create New', new_project_path, {class: 'light-purple'} %></div>
<% else %>
    <div class="row">
      <% @projects.each do |project| %>
        <div class="panel panel-default project-box">
          <div class="panel-heading project-heading">
            <h3 class="panel-title">
              <% if project.picture_groups.where(marked: false).empty? %>
                  <%= link_to "#{project.title} #{'- Completed' }", action: :compare_pictures, id: project.id  %>
              <% elsif project.picture_groups.where(marked: true).empty? %>
                  <%= link_to "#{project.title} #{'- New' }", action: :compare_pictures, id: project.id  %>
              <% else %>
                  <%= link_to "#{project.title} #{'- In Progress'}", action: :compare_pictures, id: project.id %>
              <% end %>

            </h3>
          </div>
          <div class="panel-body project" style="color: #999999">
            <div class="col-sm-12 project">
                <% project.picture_groups.each_with_index do |group, index| %>
                  <% if index < 2  %>
                  <div class="col-sm-6 group">
                    <% group.pictures.each_with_index do |picture, index| %>
                        <% if index < 2   %>
                            <div class="col-sm-6"><a class="thumbnail"><img class="picture" src="<%= picture.url %>"/></a></div>
                        <% end %>
                    <% end  %>
                  </div>
                  <% end  %>
                <% end  %>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
<% end %>