<div class="row" id="notice"><%= flash[:notice] %></div>
<% if @picture_group.present? %>
    <div class="row">
      <%= render partial: 'compare_pictures', locals: {picture_group: @picture_group } %>
    </div>
<% else %>
    <div class="row">Sorry, We Don't Have Any Pictures Right Now. Please Come Back Later.</div>
<% end %>