<div class="container centered-box login-form">
  <div><h2 class="form-heading">Login</h2></div>
  <div class="col-sm-12">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
          <%= flash[:alert] %>
          <div class="form-inputs col-sm-12 auto-margin">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true%>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in", class: 'button-row col-sm-12 large-submit btn btn-lg' %>
          </div>
      <% end %>
      <%= render "devise/shared/links" %>
  </div>
</div>
