/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$dark-purple : #4f375d;
$light-purple: #85609a;
body{
  background-color: $dark-purple;
  color: white;
}
.auto-margin{
  margin: auto;
}
.main-container{
  margin-top:40px;
}

.button-row{
  margin-top: 30px;
}
.centered{
  text-align: center !important;
}
.image{
  height: 550px;
  width: 100%
}
.centered-box {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  color: $dark-purple;
  padding: 0;
}
.login-form{
  width: 26%;
  height: auto;
  min-height: 420px;
  margin-top: -210px;
  margin-left: -13%;
}
.signup-form{
  width: 26%;
  height: auto;
  min-height: 440px;
  margin-top: -220px;
  margin-left: -13%;
}
.reset-password-form{
  width: 26%;
  height: auto;
  min-height: 270px;
  margin-top: -135px;
  margin-left: -13%;
}

.project-form{
  width: 30%;
  height: auto;
  min-height: 590px;
  margin-top: -295px;
  margin-left: -15%;
}
.form-heading{
  background-color: $light-purple;
  border-bottom: 5px solid $dark-purple;
  margin: 0;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  color: white;
  height: 80px;
}
.input-group-addon:hover{
  cursor: pointer;
}
.choose-button{
  color: $dark-purple;
  background-color: white;
  border-color: $dark-purple;
}

.large-submit{
  background-color: $dark-purple;
  color: #f7f7f7;
  &:hover{
    background-color: $dark-purple;
    color: #f7f7f7;
  }
}
.project{
  margin: 0px 0px 0px 0px ;
  padding: 0;
}
.group{
  margin: 0;
  padding: 0;
}
.picture{
  height: 200px !important;
}
.progress{
  margin: 15px;
  height: 30px;
}
.progress-bar{
  background-color: $light-purple;
  line-height: 30px;
}
.project-box{
  margin-bottom: 10px;
  border:none;
  background-color: $dark-purple;
}
.project-heading{
  background-color: $dark-purple !important;
  border-color: $dark-purple !important;
  color: #ffffff !important;
}

.devise-links > a{
  color: $dark-purple;
  font-size: 15px;
}

.light-purple{
  color: $light-purple
}

.dark-purple{
  color: $dark-purple
}

// Navigation Bar CSS
$colDefault     : #ecf0f1;
$colHighlight   : #ffffff;
$dropDown       : false;
.navbar-default {
  background-color: $light-purple;
  border-color: $light-purple;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $light-purple;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $dark-purple; }}
          .divider {
            background-color: $dark-purple;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $dark-purple; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $dark-purple; }}}
  .navbar-toggle {
    border-color: $dark-purple;
    &:hover, &:focus {
      background-color: $dark-purple; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $dark-purple; }}}
}