<!DOCTYPE html>
<html>
<head>
  <title>HotOrNot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">HotOrNot</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%= add_pictures_path %>">Add Images</a></li>
          <li><a href="<%= new_project_path %>">Create Project</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if current_user.present? %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            <% else  %>
                <%= link_to 'Login', new_user_session_path %>
            <% end  %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <!-- Header Closed -->

    <!-- Main Container -->
    <div class="container main-container">
        <%= yield %>
    </div>
    <!-- Main Container Closed-->
</body>
</html>
